* {
  font-family: 'lato';
}

main {
  text-align: center;
}

ol {
  flex-direction: column;
  border: 2px solid var(--portfolioGold);
  max-width: fit-content;
  padding: 3%;
  margin-left: 5%;
  min-width: 34vw;
  margin-top: revert;
  margin-bottom: inherit;
}

ul {
  flex-direction: column;
  border: 2px solid var(--portfolioGold);
  max-width: fit-content;
  padding: 3%;
  margin-left: 5%;
  min-width: 34vw;
  margin-top: revert;
  margin-bottom: inherit;
}

h3 {
  padding: 5% 0 3%;
  margin: 0 auto;
  color: var(--portfolioWhite);
  font-weight: 600;
}

img {
  max-width: 20vw;
  overflow: hidden;
  transition: transform 0.3s;
  border: 2px solid var(--portfolioGold);
  background-color: var(--portfolioGrey);
  border-radius: 10px;
  margin-top: 1rem;
}

p {
  text-align: justify;
  max-width: 65vw;
  min-width: 65vw;
  margin: 0 auto;
  color: var(--portfolioWhite);
}

blockquote {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 40vw;
  margin: auto;
  padding: 3%;
  font-size: small;
  font-style: italic;
}

span {
  color: var(--portfolioWhite);
}

ul {
  flex-direction: column;
}

.projectTitle {
  min-width: fit-content;
  margin: 2rem auto 4% auto;
}

.projectTitle h1 {
  font-weight: 600;
  font-size: 1.5rem;
  min-width: fit-content;
  padding: 5px;
}

.projectTitle h4 {
  font-weight: 600;
  font-size: 1rem;
  min-width: fit-content;
  color: var(--portfolioOrange);
}

.h2Title {
  margin: 5rem auto 5rem auto;
}

.alignText {
  max-width: fit-content;
  margin: auto;
}

.QandA {
  font-size: medium;
}

.middleText {
  padding-top: 2%;
  max-width: 57vw;
  margin: 3rem 0 1rem;
  text-align: justify;
}

.subtitle {
  text-align: center;
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 3%;
  color: #f2f2f2;
  font-size: 1.4rem;
  font-weight: 500;
}

cite,
cite span {
  color: var(--portfolioGold);
  text-decoration: none;
  font-size: medium;
  font-style: normal;
}

cite a {
  font-style: italic;
  color: var(--portfolioGold);
  text-decoration: none;
  font-size: medium;
  border-bottom: 1px solid;
}

cite a:hover {
  color: var(--hyperLinkBlue);
}

[alt^=Afbeelding]:hover,
[alt^=Afbeelding]:focus {
  transform: scale(110%);
}

.textSpace {
  background-color: var(--portfolioBlue);
  border: 2px solid var(--portfolioOrange);
  margin: auto auto 10%;
  min-width: 87vw;
  max-width: 95vw;
  padding: 0 10% 2% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px
}

.textSpace ol li {
  padding: 1%;
  font-family: Arial, Helvetica, sans-serif;
}

.textSpace ol li span {
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

.sideText {
  max-width: 50vw !important;
  padding-left: 16%;
  margin: 0;
}

.flexImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 65vw;
  margin-top: 3rem;
  align-items: center;
}

.flexImages .imageDiv .imageUndertitle {
  font-size: 2rem;
  line-height: normal;
}

.flexImages .imageDiv {
  transform: scale(0.5);
}

.flexImages .imageDiv img {
  width: 100%; 
  height: auto; 
  margin: 0;
}.flexImages .imageDiv .imageUndertitle {
  font-size: 2rem;
  line-height: normal;
}

.flexImages .imageDiv {
  transform: scale(0.5);
}

.flexImages .imageDiv img {
  width: auto;
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

.imageDiv {
  flex: 1 1 31%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 30rem;
  margin: 0;
  max-width: 30vw;
}

.imageUndertitle {
  font-style: italic;
  font-size: 1.3vw;
  max-width: fit-content;
  padding: 2% 0 5%;
  margin: 0;
  text-align: center;
}

.textSpaceSources {
  display: flex;
  flex-direction: column;
  background-color: var(--portfolioBlue);
  border: 2px solid var(--portfolioOrange);
  margin: auto;
  min-width: 87vw;
  max-width: 95vw;
  min-height: 40vh;
  align-items: center;
  justify-content: center;
  border-radius: 10px
}

[alt="pdf_Logo.png"],
[alt="zip.png"],
[alt="fontysLogo.png"] {
  max-width: 11vw;
  display: flex;
  flex-direction: column;
  max-height: 15vh;
  margin: auto;
}

.srcLinks {
  display: flex;
  min-width: 66vw;
  max-width: fit-content;
  flex-direction: row;
  align-items: center;
  padding-top: 1%;
  flex-wrap: wrap;
  min-height: inherit;
  margin: 0 auto;
  justify-content: center;
}

.alignTextandImg {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alignTextandImg .imageDiv {
  margin-right: 16%;
}

.whiteLineDiv {
  min-width: -webkit-fill-available;
  margin: 5% 0;
}

.webLink {
  margin: 1em 3em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 12.5rem;
  min-height: min-content;
  transform: translate(0);
  transition: 0.4s ease-in-out;
  max-width: 200px;
  align-items: center;
}

.webLink img {
  border: none;
  background-color: var(--portfolioBlue);
  transition: 0.4s ease-in-out;
  transform: translate(0);
  max-width: 10vw;
}

.webLink:hover {
  border-bottom: 4px solid var(--portfolioOrange);
  transform: scale(0.8);
}

.maxContent {
  max-width: max-content;
}

.paddingBottom {
  padding-bottom: 5%;
}

.flexText {
  display: block;
}

.cropContent {
  border: 2px solid var(--portfolioGrey);
  padding: 1%;
  max-width: 29vw;
}

.flexImagesMiddle {
  margin: auto;
}

.flexImagesMiddleFlex {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.maxWidth40vw {
  max-width: 40vw !important;
}

iframe {
  transform: scale(1.3);
  padding-bottom: 10%;
  border: none;
  margin-top: 5rem;
  max-width: 65vw;
}

.embed_documentation_footer--documentationFooter--pnTqy {
  display: none !important;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}

.pageIndicator {
  margin: 0 10px;
}

.prevButton,
.nextButton {
  background-color: var(--portfolioWhite);
  font-weight: 600;
}

.prevButton:hover,
.nextButton:hover {
  color: var(--portfolioOrange)
}

.flexWrap {
  display: flex;
  flex-wrap: wrap;
  margin: 3em 0;
  justify-content: center;
}

dd span {
  color: var(--portfolioBlack)
}

[alt="noteIcon.png"] {
  max-width: 7vw !important;
}

a span {
  text-align: center;
}

.h4Title {
  padding: 5% 0 3%;
  margin: 0 auto;
  color: var(--portfolioWhite);
}

.alignText p {
  padding-top: 1rem;
}

.legend {
  font-family: Arial, sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.legend li {
  margin-bottom: 5px;
}

.legend .removed {
  color: red;
}

.legend .added {
  color: green;
}