/* General code */

/* 'lato' font: */
@import url("https://use.typekit.net/bdv5kew.css");

/* inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/* 'consolas'font: */
@import url(https://blightningpower.github.io/New_Portfolio_Code/Consolas-Font/Consolas.ttf);


:root {
  --portfolioWhite: #F5F5F5;
  --portfolioGrey: #707070;
  --portfolioOrange: #FA8500;
  --portfolioBlack: #000000;
  --portfolioBlue: #0598E1;
  --hyperLinkBlue: #0000FF;
  --portfolioGold: #FDC94F;
}

* {
  /*code applied to all HTML tags*/
  margin: 0;
  padding: 0;
  font-family: monospace, 'consolas', 'Courier New', Courier;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  font-weight: 100;
  color: var(--portfolioBlack);
}

html {
  min-height: 100%;
  min-width: 100%;
  background-color: var(--portfolioWhite);
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

body {
  /*code applied to the whole body of the page*/
  min-width: 100%;
  min-height: -webkit-fill-available;
  margin: 0;
  opacity: 1;
}

p {
  line-height: 22px;
  padding: 0 5%;
  font-family: 'lato';
}

ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  border-radius: 10px;
}

li {
  padding: 1% 4%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  color: var(--portfolioWhite);
}

li::marker {
  color: var(--portfolioBlack);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter';
}

section {
  scroll-snap-align: start;
}

svg {
  max-width: -webkit-fill-available;
}

/* Homepagecode */

main {
  margin: auto;
  padding: 0 6vw;
}

#dvProjects,
#dsProjects,
#rsProjects,
#cmProjects,
#piProjects {
  margin: 0;
  display: flex;
  flex-direction: column;
}

#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 10%;
  right: 5%;
  z-index: 99;
  border: 2px solid var(--portfolioBlue);
  background-color: var(--portfolioGrey);
  color: var(--portfolioWhite);
  cursor: pointer;
  padding: 1%;
  border-radius: 50%;
}

.up-arrow {
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 24px;
  height: 24px;
  fill: none;
}

@media screen and (max-width: 1279px) {
  #scrollToTopBtn {
    padding: 2%;
  }
}

#scrollToTopBtn:hover {
  border: 2px solid var(--portfolioOrange);
  background-color: var(--portfolioBlack);
  color: var(--portfolioWhite);
}

::-webkit-scrollbar {
  width: 18px;
}

/* Track */

::-webkit-scrollbar-track {
  background: var(--portfolioGrey);
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: var(--portfolioOrange);
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: var(--portfolioBlue);
}

/* Header */

header {
  background-color: #B9DEF0;
  min-width: -webkit-fill-available;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  margin: 0;
  padding: 0 5rem;
}

.headerNavigation {
  display: flex;
  align-items: center;
}

.logoText {
  font-family: monospace, 'consolas', 'Courier New', Courier;
  background-color: var(--portfolioWhite);
  padding: 5px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 2vw;
  min-width: fit-content;
  margin: 10px 0;
}

.logoText:hover,
.logoText:hover .nameHighlight,
.logoText:hover #typedName,
.navButton:hover,
.navButton.active:hover {
  color: var(--portfolioGrey);
}

#typedName {
  font-family: monospace, 'consolas', 'Courier New', Courier;
  background-color: var(--portfolioWhite);
  padding: 5px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 2vw;
  min-width: fit-content;
  margin: 10px 0;
  color: var(--portfolioBlack);
}

.nameHighlight {
  color: var(--portfolioOrange);
  font-family: monospace, 'consolas', 'Courier New', Courier;
}

.navButton {
  font-size: 1.4vw;
  font-family: 'inter';
  font-weight: 600;
  margin: 10px;
  min-width: max-content;
}

.navButton.active {
  color: var(--portfolioOrange);
}

/* Hide the dropdown content by default */
.dropdown-content {
  opacity: 0;
  display: none;
  position: fixed !important;
  min-width: 22vw;
  top: 10%;
  right: 1%;
  border-radius: 10px;
  background-color: var(--portfolioBlue);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  flex-direction: column;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.dropdown-content>a {
  border-bottom: 2px solid var(--portfolioWhite);
  max-width: fit-content;
}

/* Homepage */

.homepageSection {
  width: auto;
  min-height: 100vh;
  margin: 0;
  padding: 20vh 9vw 0;
  display: flex;
  flex-direction: column;
}

.welcomeText {
  max-width: 30vw;
  display: flex;
  flex-direction: column;
}

.welcomeText span {
  font-size: 5vw;
  color: var(--portfolioGrey);
  text-shadow: -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
}

.welcomeTitle {
  min-width: 35vw;
  display: flex;
  font-family: 'inter';
  font-size: 5vw;
  font-weight: 600;
  align-items: center;
  margin-bottom: 0;
  color: var(--portfolioOrange);
  text-shadow: -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
}

.welcomeUndertitle {
  font-family: 'lato';
  font-size: 3vw;
  margin: 0;
  font-weight: 600;
}

.aiMeImg {
  max-width: 20vw;
  background-color: var(--portfolioGold);
  border-radius: 10px;
  margin: auto;
}

.welcomeElements {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto 0;
}

.arrows {
  min-width: 62px;
  max-width: 62px;
  min-height: 75px;
  max-height: 1vh;
  transition: 0.5s ease-in-out;
  margin: 0 auto;
  transform: scale(0.5);
}

.arrows:hover {
  cursor: pointer;
}

.arrows path {
  stroke: var(--portfolioBlack);
  fill: transparent;
  stroke-width: 3px;
  animation: arrows 2s infinite;
  -webkit-animation: arrows 2s infinite;
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

.arrows path.a1:hover,
.arrows path.a2:hover,
.arrows path.a3:hover,
.arrows path:hover {
  stroke: var(--portfolioOrange);
}

@keyframes arrows {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrows

/*Safari and Chrome*/
  {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.blueLine {
  border: 1px solid var(--portfolioBlue);
  min-width: 70vw;
  margin: 0;
}

.learningOutcomesSection {
  width: auto;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.h1Title {
  padding: 5px;
  font-weight: 600;
  font-size: 1.5rem;
  min-width: fit-content;
  margin: 2rem auto 4% auto;
}

@media screen and (max-width: 800px) {
  .h1Title {
    font-size: 3.5vw;
  }
}

.h2Title {
  margin: 5rem auto 0;
  font-weight: 600;
}

.h3Title {
  font-weight: 600;
  margin-top: 10rem;
  margin-bottom: revert;
}

.copyrightText {
  font-size: .8rem;
  color: var(--portfolioGrey);
  text-align: center;
  position: relative;
  bottom: 0;
  min-width: -webkit-fill-available;
  margin: 10% auto 1% auto;
}

#imProjects {
  margin-top: 3rem;
}